Source: python-json-rpc
Maintainer: Wiren Board team <info@wirenboard.com>
Section: python
Priority: optional
Build-Depends: python3, dh-python, python-setuptools (>= 0.6b3), python3-setuptools, debhelper (>= 9)
Standards-Version: 3.9.1
X-Python3-Version: >= 3.2

Package: python3-json-rpc
Architecture: all
Depends: python3 (>=3.2.3-6), ${misc:Depends}, ${shlibs:Depends}
Conflicts: python3-jsonrpc
Description: JSON-RPC transport implementation
 Python implementation of JSON-RPC 1.0 and 2.0
